//Fonts
$fontBase: "Exo 2", sans-serif;
$fontWeightRegular: 300;
$fontWeightBold: 600;
$fontHead: "Open Sans", sans-serif;
$fontWeightExtraBold: 800;
$fontSizeBase: 1rem;
$fontSizeRatio: 1.333;

//Miscellaneous
$marginBase: 32px;
$transition: all 0.3s ease;

//Palette
$textColorPrimary: #fff;
$textColorSecondary: #f1f1f1;
$accentColor1: #f26522;
$accentColor2: #797bed;
$accentColor3: #f34723;
$bg1: #2a2b30;
$bg2: #24252a;
$error: #b93a32;
