$icon-font-path: "../fonts/";
$fa-font-path: "../fonts";

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "bower_components/font-awesome/scss/font-awesome.scss";
// endbower

@import url("https://fonts.googleapis.com/css?family=Open+Sans:800");
@import url("https://fonts.googleapis.com/css?family=Exo+2:300,600&subset=cyrillic");
@import "libs/_variables";

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

html,
body {
  height: 100%;
}

body {
  min-height: 100%;
  font-family: $fontBase;
  font-weight: $fontWeightRegular;
  line-height: 1.65;
  color: $textColorPrimary;

  //shift fix
  &.modal-open {
    overflow: auto;
    padding-right: 0 !important;
  }
}

@import "components/_animations";
@import "components/_base";
@import "components/_section-head";
@import "components/_buttons";
@import "components/_gotop";
@import "components/_form";
@import "components/_modal";
@import "components/_animatedPhone";
@import "components/cookieAgreement";
@import "layout/_hero";
@import "layout/_problems";
@import "layout/_about";
@import "layout/_topmenu";
@import "layout/_services";
@import "layout/_price";
@import "layout/_contact";
@import "layout/_footer";
