//Base

@import "../libs/variables";

html {
  font-size: 16px;

  @media only screen and (min-width: 480px) {
    font-size: 18px;
  }

  @media only screen and (min-width: 768px) {
    font-size: 20px;
  }

  @media only screen and (min-width: 992px) {
    font-size: 22px;
  }
}
