/*
/*  Buttons
/* =================================================================== */
@import "../libs/variables";

.btn {
  font: $fontSizeBase $fontBase;
  margin: $marginBase auto;
  transition: $transition;
  text-decoration: none;
  cursor: pointer;
  height: auto;
  text-align: center;
  border-radius: 3px;
  -webkit-appearance: none;
  -webkit-font-smoothing: inherit;
  text-transform: uppercase;
  padding: $marginBase / 3 0;
  box-shadow: none !important;
  outline: none !important;
  color: $textColorPrimary !important;
  border: 2px solid;
}

.btn-primary-accent-1,
.btn-primary-accent-2,
.btn-primary-accent-3,
.btn-stroke-accent-1,
.btn-stroke-accent-2 {
  &:active {
    background: transparent !important;
    border-color: transparent !important;
  }
}

.btn-primary-accent-1,
.btn-primary-accent-2,
.btn-primary-accent-3 {
  font-weight: $fontWeightBold;

  html.touch &:active {
    background: transparent;
    border-color: transparent;
  }
}

.btn-stroke-accent-1,
.btn-stroke-accent-2 {
  background: transparent;
  font-weight: $fontWeightRegular;

  html.touch &:hover,
  html.touch &:focus {
    background: transparent;
  }
}

.btn-primary-accent-1 {
  background: $accentColor1;
  border-color: $accentColor1;

  html.touch &:hover,
  html.touch &:focus {
    background: $accentColor1;
    border-color: $accentColor1;
  }

  &:hover,
  &:focus {
    background: darken($accentColor1, 10%);
    border-color: darken($accentColor1, 10%);
  }
}

.btn-primary-accent-2 {
  background: $accentColor2;
  border-color: $accentColor2;

  html.touch &:hover,
  html.touch &:focus {
    background: $accentColor2;
    border-color: $accentColor2;
  }

  &:hover,
  &:focus {
    background: darken($accentColor2, 5%);
    border-color: darken($accentColor2, 5%);
  }
}

.btn-primary-accent-3 {
  background: $accentColor3;
  border-color: $accentColor3;

  html.touch &:hover,
  html.touch &:focus {
    background: $accentColor3;
    border-color: $accentColor3;
  }

  &:hover,
  &:focus {
    background: darken($accentColor3, 3%);
    border-color: darken($accentColor3, 3%);
  }
}

.btn-stroke-accent-1 {
  border-color: $accentColor1;

  html.touch &:hover,
  html.touch &:focus {
    border-color: $accentColor1;
  }

  html.touch &:active {
    background: darken($accentColor1, 10%) !important;
    border-color: darken($accentColor1, 10%);
  }

  &:hover,
  &:focus {
    background: darken($accentColor1, 10%);
    border-color: darken($accentColor1, 10%);
  }
}

.btn-stroke-accent-2 {
  border-color: $accentColor2;

  html.touch &:hover,
  html.touch &:focus {
    border-color: $accentColor2;
  }

  html.touch &:active {
    background: darken($accentColor2, 5%) !important;
    border-color: darken($accentColor2, 5%);
  }

  &:hover,
  &:focus {
    background: darken($accentColor2, 5%);
    border-color: darken($accentColor2, 5%);
  }
}
