/*
/*  Cookie Agreement
/* =================================================================== */
@import "../libs/variables";

.cookieAgreement {
  display: none;
  width: 100%;
  min-height: 60px;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.9);
  color: #fff;
  transition: all 0.3s ease-out;
  padding: 15px;
  z-index: 99999999;
  bottom: -1px;
  left: 0;
  text-align: center;

  p {
    font-size: 10px;
    text-align: left;

    @media only screen and (min-width: 768px) {
      font-size: 12px;
    }

    @media only screen and (min-width: 1200px) {
      font-size: 14px;
    }
  }

  .agreementLink {
    text-decoration: none;
    margin: 0 $marginBase/2;
    font-size: 16px;
    color: $accentColor1;
    transition: $transition;

    html.touch &:hover,
    html.touch &:focus {
      color: $accentColor1;
    }

    &:hover,
    &:focus {
      color: darken($accentColor1, 10%);
    }
  }

  .agreementApply {
    font-weight: $fontWeightBold;
  }
}
