/*
/*  Form
/* =================================================================== */
@import "../libs/variables";

form {
  margin: $marginBase auto;
}

input[type="text"],
input[type="email"],
textarea {
  background: transparent !important;
  border-radius: 2px !important;
  border: 2px solid $accentColor2 !important;
  margin: $marginBase / 2 auto !important;
  font-size: $fontSizeBase !important;
  color: $textColorPrimary !important;
}

/* Style Placeholder Text */
::-webkit-input-placeholder {
  color: $textColorSecondary !important;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: $textColorSecondary !important;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: $textColorSecondary !important;
}

:-ms-input-placeholder {
  color: $textColorSecondary !important;
}

.placeholder {
  color: $textColorSecondary !important;
}

.form-control:focus {
  border-color: lighten($accentColor2, 5%) !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px lighten($accentColor2, 5%) !important;
}
