//To Top

@import "../libs/variables";

#goTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  height: 60px;
  width: 60px;
  background: $accentColor3;
  display: none;
  z-index: 999999999;
  color: inherit;
  text-align: center;
  padding: 18px 16px;

  @media only screen and (max-width: 767px) {
    bottom: 0;
    right: 0;
  }

  span {
    font-size: 16px * 1.5;
    color: $textColorPrimary;
  }

  &:active {
    background: transparent !important;
    border-color: transparent !important;

    span {
      color: transparent;
    }
  }

  &:hover,
  &:focus {
    background: darken($accentColor3, 3%);
    border-color: darken($accentColor3, 3%);
  }

  html.touch &:active {
    background: transparent;
    border-color: transparent;
  }

  html.touch &:hover,
  html.touch &:focus {
    background: $accentColor3;
    border-color: $accentColor3;
  }
}
