/*
/*  Modal
/* =================================================================== */
@import "../libs/variables";

#requestModal,
#errorModal,
#successModal {
  background: rgba(0, 0, 0, 0.5);
  font-family: $fontBase;

  p.policy {
    margin-bottom: $marginBase;
    text-align: center;
    font-size: 10px;

    span {
      font-weight: $fontWeightBold;

      > a {
        color: $textColorPrimary;
        transition: $transition;
        text-decoration: none;

        html.touch &:hover,
        html.touch &:focus {
          color: $textColorPrimary;
        }

        &:hover,
        &:focus {
          color: darken($accentColor1, 10%);
        }
      }
    }

    @media only screen and (min-width: 768px) {
      font-size: 12px;
    }

    @media only screen and (min-width: 1200px) {
      font-size: 14px;
    }
  }

  .modal-content {
    background: $bg2;
    border: none;

    .modal-header {
      border: none !important;
      position: relative;
      padding: $marginBase * 1.5 0 0 0 !important;

      .modal-title {
        font-weight: $fontWeightBold;
        font-size: $fontSizeBase * $fontSizeRatio;
        color: $textColorPrimary;
        text-transform: uppercase;
        margin: 0 !important;
        text-align: center !important;
      }

      .close {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        opacity: 1;
        text-shadow: none;
        padding: $marginBase / 3;
        outline: none;

        &:hover,
        &:focus {
          color: transparent;

          span {
            color: $accentColor1;
          }
        }

        &:active {
          span {
            color: transparent;
          }
        }

        html.touch &:focus,
        html.touch &:active {
          span {
            color: $accentColor1;
          }
        }

        span {
          color: $textColorSecondary;
          font-size: $fontSizeBase;
          outline: none;
          transition: all 0.2s;
        }
      }
    }

    .modal-footer {
      border: none !important;
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  #requestForm {
    margin: $marginBase / 2 0 !important;

    .form-group {
      margin-bottom: $marginBase !important;

      label {
        color: $textColorSecondary;
        font-size: $fontSizeBase !important;
        font-weight: $fontWeightRegular;
        margin-bottom: $marginBase / 4 !important;
        position: relative;

        span {
          position: absolute;
          top: 5px;
          right: -15px;
          font-size: $fontSizeBase / $fontSizeRatio / $fontSizeRatio /$fontSizeRatio;
          color: $accentColor3;
        }
      }
    }

    & .form-group:last-child {
      margin-bottom: 0 !important;
    }

    input[type="text"],
    input[type="email"],
    textarea {
      background: $bg1 !important;
      border-radius: 2px !important;
      border: 2px solid $textColorSecondary !important;
      margin: 0 !important;
      font-size: $fontSizeBase !important;
      color: $textColorPrimary !important;
    }

    .form-control.error {
      border-color: lighten($accentColor3, 5%) !important;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px lighten($accentColor3, 5%) !important;
    }

    .form-control:focus {
      border-color: lighten($textColorSecondary, 5%) !important;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px lighten($textColorSecondary, 5%) !important;
    }
  }
}

#errorModal,
#successModal {
  p.lead {
    line-height: 1.65;
  }
}
