//Section Head

@import "../libs/variables";

.section-head {
  text-align: center;
  margin: $marginBase 0;
  text-transform: uppercase;
  line-height: 1.65;
  font-family: $fontHead;

  h1,
  strong {
    font-weight: $fontWeightExtraBold;
    color: $textColorPrimary;
    margin: 0;
    font-size: $fontSizeBase * $fontSizeRatio * $fontSizeRatio;
  }

  strong {
    color: $accentColor1 !important;
  }

  p {
    font-family: $fontBase;
    font-weight: $fontWeightBold;
    color: $textColorSecondary;
    margin: ($marginBase / 2) 0 0 0;
    font-size: $fontSizeBase;
  }
}
