//About Section

@import "../libs/_variables";

#about {
  width: 100%;
  margin: auto;
}

#info {
  background: $bg1;
  padding: $marginBase * 1.5 0;

  .description {
    margin: $marginBase / 2 auto;
    line-height: 1.65;
    max-width: 480px;
    padding: 0 $marginBase;

    @media only screen and (min-width: 768px) {
      margin: $marginBase auto !important;
    }

    .desc-header {
      display: flex;
      align-items: center;

      h2 {
        font-family: $fontBase;
        font-weight: $fontWeightBold;
        color: $textColorPrimary;
        margin: $marginBase / 2 0;
        font-size: $fontSizeBase * $fontSizeRatio !important;

        @media only screen and (min-width: 1200px) {
          margin: $marginBase 0 !important;
        }
      }

      span {
        color: $accentColor1 !important;
        font-size: $fontSizeBase * $fontSizeRatio;
        padding-right: $marginBase / 2;
      }
    }

    p {
      font-family: $fontBase;
      color: $textColorSecondary;
      font-size: $fontSizeBase;
      font-weight: $fontWeightRegular;
    }
  }

  & div.row:last-child {
    display: flex;
    flex-flow: row wrap;

    & .description:last-child {
      margin-bottom: 0;
    }
  }
}

#team {
  background: rgba(36, 37, 42, 1);
  width: 100%;
  padding: $marginBase * 1.5 0;

  .member {
    margin: $marginBase / 2 auto;
    font-family: $fontBase;
    line-height: 1.65;
    display: flex;
    flex-flow: column nowrap;
    max-width: 480px;
    padding: 0 $marginBase;

    @media only screen and (min-width: 768px) {
      margin: $marginBase auto !important;
    }

    @media only screen and (min-width: 1200px) {
      margin-top: $marginBase * 1.5 !important;
    }

    .member-header {
      display: flex;
      align-items: center;

      @media only screen and (max-width: 991px) {
        flex-flow: column wrap;
      }

      .member-name {
        padding: 0 0 0 $marginBase;

        @media only screen and (max-width: 991px) {
          padding: $marginBase / 2 0 0 0;
          text-align: center;
        }

        h3 {
          font-weight: $fontWeightBold;
          color: $textColorPrimary;
          margin: 0 0 $marginBase / 2 0;
          font-size: $fontSizeBase * $fontSizeRatio;
        }

        span {
          font-family: $fontBase;
          font-weight: $fontWeightBold;
          color: $accentColor1;
          font-size: $fontSizeBase;
        }

        .break {
          display: none;

          @media only screen and (max-width: 1199px) {
            display: block;
          }

          @media only screen and (max-width: 767px) {
            display: none;
          }
        }
      }
    }

    p {
      flex: auto;
      font-family: $fontBase;
      color: $textColorSecondary;
      margin: ($marginBase / 1.5) 0;
      font-size: $fontSizeBase;
      font-weight: $fontWeightRegular;
      line-height: 1.65;
    }

    .member-social {
      list-style: none;
      padding: 0;
      margin: 0 auto;
      display: flex;
      align-items: center;
      max-width: 350px;
      justify-content: space-between;

      li {
        a {
          color: $textColorPrimary;
          font-size: $fontSizeBase;
          transition: $transition;
          text-decoration: none;

          html.touch &:hover,
          html.touch:focus {
            color: $textColorPrimary;
          }

          html.touch &:active {
            color: $accentColor1;
          }

          &:hover,
          &:focus {
            color: $accentColor1;
          }

          &:active {
            color: transparent;
          }
        }

        @media only screen and (max-width: 767px) {
          padding: $marginBase / 3 $marginBase / 3;
        }
      }
    }

    img {
      width: 78px;
      height: 78px;
      display: inline-block;
      box-shadow:
        0 6px 10px 0 rgba(0, 0, 0, 0.14),
        0 1px 18px 0 rgba(0, 0, 0, 0.12),
        0 3px 5px -1px rgba(0, 0, 0, 0.4);
    }
  }

  & div.row:last-child {
    display: flex;
    flex-flow: row wrap;

    & .member:last-child {
      margin-bottom: 0;
    }
  }
}
