//Contact Section

@import "../libs/_variables";

#contact {
  padding: $marginBase * 1.5 0;
  background: rgba(42, 43, 48, 1);
  width: 100%;
  color: $textColorPrimary;

  #contactForm {
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;

    @media only screen and (min-width: 1200px) {
      max-width: none;
    }
  }

  p.policy {
    text-align: center;
    font-size: 10px;
    margin: $marginBase 0 0 0;

    span {
      font-weight: $fontWeightBold;

      > a {
        color: $textColorPrimary;
        transition: $transition;
        text-decoration: none;

        html.touch &:hover,
        html.touch &:focus {
          color: $textColorPrimary;
        }

        &:hover,
        &:focus {
          color: darken($accentColor2, 5%);
        }
      }
    }

    @media only screen and (min-width: 768px) {
      font-size: 12px;
    }

    @media only screen and (min-width: 1200px) {
      font-size: 14px;
      margin: 0;
    }
  }

  .btn {
    margin-bottom: 0;

    @media only screen and (min-width: 1200px) {
      margin-bottom: $marginBase;
    }
  }
}

#contactEmail.error {
  border-color: lighten($accentColor3, 5%) !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px   lighten($accentColor3, 5%) !important;
}
