/*
/* Footer Section
/* =================================================================== */
@import "../libs/_variables";

#footer {
  background: rgba(36, 37, 42, 1);
  padding: $marginBase 0;
  width: 100%;
  color: $textColorSecondary;

  .copyright {
    color: $textColorSecondary;
    text-align: center;
    margin: $marginBase 0;
    padding: 0;
  }

  .links {
    margin: $marginBase auto;
    font-size: $fontSizeBase;
    font-weight: $fontWeightRegular;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
    max-width: 480px;

    @media only screen and (min-width: 1200px) {
      max-width: none;
      justify-content: flex-start;
    }

    a {
      color: $textColorSecondary;
      transition: color 0.2s;
      text-decoration: none;
      font-size: $fontSizeBase * $fontSizeRatio;
      padding-right: 0;

      @media only screen and (min-width: 1200px) {
        padding-right: $marginBase;
      }

      &:hover,
      &:focus {
        color: $accentColor2;
      }

      &:active {
        color: transparent;
      }

      html.touch &:hover,
      html.touch:focus {
        color: $textColorSecondary;
      }

      html.touch &:active {
        color: $accentColor2;
      }
    }
  }
}
