//Hero Section

@import "../libs/_variables";

#hero {
  background: rgba(42, 43, 48, 1) url("../../images/hero-bg-1-sm.jpg") no-repeat center center;
  background-size: cover !important;
  width: 100%;
  text-align: center;
  position: relative;
  min-height: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-content: center;

  @media only screen and (min-width: 768px) {
    background-image: url("../../images/hero-bg-1.jpg");
  }

  .title {
    text-align: left;
    padding: 0 $marginBase;
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;

    h1,
    strong {
      font-family: $fontHead;
      font-weight: $fontWeightExtraBold;
      font-size: $fontSizeBase * $fontSizeRatio;
      line-height: 1.5;

      @media only screen and (min-width: 768px) {
        font-size: $fontSizeBase * $fontSizeRatio * $fontSizeRatio;
        line-height: 1.65;
      }
    }

    strong {
      color: $accentColor1;
    }

    @media only screen and (min-width: 768px) {
      max-width: none;
      margin: $marginBase auto;
    }
  }

  #carousel {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;

    .carousel-inner {
      height: 100%;
    }

    .carousel-indicators {
      display: none;

      @media only screen and (min-width: 1200px) {
        display: block;
      }

      li {
        margin: 0 $marginBase / 6 !important;
        border: 2px solid $textColorPrimary;
      }
    }

    .centerPhoneNumber {
      display: none;
      font: 20px $fontBase;
      font-weight: $fontWeightBold;
      letter-spacing: 0.1em;
      color: $textColorPrimary !important;
      justify-content: center;
      align-items: center;

      @media only screen and (max-width: 1200px) and (min-height: 480px) {
        display: flex;
      }
    }

    .item {
      height: 100%;

      .carousel-caption {
        margin: $marginBase / 2 auto;
        width: 100%;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        padding: 0;

        .helper {
          flex: auto;

          &:nth-child(2n) {
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }

        .break {
          display: none;

          @media only screen and (min-width: 768px) {
            display: block !important;
          }
        }

        @media only screen and (min-width: 1200px) {
          width: 55%;
        }

        @media only screen and (min-width: 1200px) {
          margin: $marginBase auto;
        }

        .btn {
          margin: $marginBase / 2 auto;
          font-size: 16px;

          @media only screen and (min-width: 768px) {
            margin: $marginBase auto;
          }
        }

        @media only screen and (min-width: 768px) {
          width: 85%;
        }
      }
    }
  }
}
