//Price Section

@import "../libs/_variables";

#price {
  padding: $marginBase * 1.5 0;
  background: rgba(36, 37, 42, 1);
  width: 100%;
  color: $textColorPrimary;

  .price-wrapper {
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;

    @media only screen and (min-width: 1200px) {
      display: flex;
      justify-content: space-around;
    }

    @media only screen and (max-width: 1199px) {
      & .panel:last-child .btn-primary-accent-1 {
        margin-bottom: 0 !important;
      }

      & .price-group:last-child {
        margin-bottom: 0 !important;
      }
    }
  }

  .price-group {
    max-width: 480px;
    margin: $marginBase auto;

    @media only screen and (min-width: 768px) {
      margin: $marginBase * 2 auto;
    }

    @media only screen and (min-width: 1200px) {
      margin: $marginBase auto;
    }

    h2 {
      font-size: $fontSizeBase * $fontSizeRatio;
      font-weight: $fontWeightBold;
      text-align: center;
      text-transform: uppercase;
      margin: $marginBase / 2 0 $marginBase 0;
      color: $textColorSecondary;
    }

    .panel {
      background: transparent;
      margin: 0;
      box-shadow: none;

      .price-item-body {
        .cost {
          text-align: center;
          margin: $marginBase auto;
          font-size: $fontSizeBase * $fontSizeRatio;
          //font-weight: $fontWeightBold;
        }

        .lead {
          margin-bottom: $marginBase / 2;
          font-size: $fontSizeBase;
          line-height: 1.65;

          span {
            color: $accentColor1;
          }
        }
      }

      .btn-primary-accent-1,
      .btn-stroke-accent-1 {
        font-size: $fontSizeBase;
        padding: $marginBase / 2;
      }

      .btn-primary-accent-1 {
        margin: $marginBase auto $marginBase  * 1.5 auto;
      }

      .btn-stroke-accent-1 {
        margin: $marginBase / 2 auto;
      }
    }
  }

  & .price-group:nth-child(2) {
    @media only screen and (min-width: 1200px) {
      order: 2;
    }
  }
}
