//Problems Section

@import "../libs/variables";

#problems {
  width: 100%;
  background: rgba(36, 37, 42, 1);
  padding: $marginBase * 1.5 0;

  .problem {
    text-align: center;
    margin: $marginBase 0 $marginBase * 2 0;

    span {
      font-size: $fontSizeBase * $fontSizeRatio * $fontSizeRatio;
    }

    h2,
    h3,
    h4 {
      font-weight: $fontWeightBold;
    }

    h2,
    h3 {
      text-transform: uppercase;
    }

    h2 {
      color: $accentColor1;
      font-size: $fontSizeBase * $fontSizeRatio * $fontSizeRatio;
    }

    h3 {
      font-size: $fontSizeBase * $fontSizeRatio;
    }

    h4 {
      color: $textColorSecondary;
      font-size: $fontSizeBase;
    }
  }

  .btn {
    max-width: 250px;
    margin-bottom: 0;

    @media only screen and (min-width: 768px) {
      max-width: 480px;
    }

    @media only screen and (min-width: 1200px) {
      margin-bottom: $marginBase;
    }
  }
}
