//Services Section

@import "../libs/_variables";

#services {
  padding: $marginBase * 1.5 0;
  background: rgba(42, 43, 48, 1);
  width: 100%;

  #services-wrap {
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;

    & .service:last-child {
      margin-bottom: 0;

      @media only screen and (min-width: 1200px) {
        margin-bottom: $marginBase * 2;
      }
    }

    & .service:nth-child(2) {
      @media only screen and (min-width: 1200px) {
        order: 2;
      }
    }

    @media only screen and (min-width: 1200px) {
      display: flex;
      justify-content: space-around;
    }

    .service {
      margin: $marginBase auto;
      max-width: 450px;
      display: flex;
      flex-flow: column nowrap;

      @media only screen and (min-width: 768px) {
        margin-bottom: $marginBase * 2;
      }

      @media only screen and (min-width: 1200px) {
        margin-top: $marginBase * 1.5;
      }

      .service-head {
        h2 {
          margin: $marginBase / 2 auto;
          text-align: center;
          font-weight: $fontWeightBold;
          font-size: $fontSizeBase * $fontSizeRatio;
          text-transform: uppercase;
          color: $textColorPrimary;
          line-height: 1.65;
        }

        &::before,
        &::after {
          display: block;
          width: 100%;
          margin: auto;
          content: "";
          border-top: 2px solid $accentColor1;
        }
      }

      .service-body {
        flex: auto;

        ul {
          padding: 0;
          margin: 0;
          list-style: none;
        }

        .lead {
          margin: $marginBase auto;
          font-size: $fontSizeBase;
          line-height: 1.65;
          color: $textColorPrimary;

          span {
            color: $accentColor1;
          }
        }
      }

      .btn {
        max-width: 450px;
      }
    }
  }
}
