
//Top Menu

@import "../libs/variables";

#topMenu {
  height: 60px;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 990;
  text-align: center;
  background: $bg1;
  background: rgba(42, 43, 48, 0.6);
  transition: background 0.5s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;

  .helper {
    flex: 1 1 30%;

    #menuPhoneNumber {
      font: 20px $fontBase;
      font-weight: $fontWeightBold;
      letter-spacing: 0.1em;
      color: $textColorPrimary !important;
      display: flex;
      justify-content: center;
      align-items: center;

      @media only screen and (max-width: 1200px) {
        display: none;
      }
    }
  }

  &.opaque {
    background: rgba(42, 43, 48, 0.95);
  }

  .logo {
    margin: 0 15px 0 0;

    a {
      display: block;
      margin: 0 20px 0 0;
      padding: 0;
      border: none;
      outline: none;
      font: 0/0 a;
      text-shadow: none;
      color: transparent;

      @media only screen and (max-width: 767px) {
        margin: 0;
      }
    }

    @media only screen and (max-width: 767px) {
      margin: 0;
    }
  }

  svg {
    width: 130px;
    height: auto;
  }

  #nav-wrap {
    @media only screen and (max-width: 767px) {
      z-index: 8001;
      display: block;
      margin-top: 0;
      width: 100%;
      position: absolute;
      top: 0;
      right: 0;
    }

    #nav {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: center;
      padding: 0;
      margin: 0;

      @media only screen and (max-width: 767px) {
        flex-flow: column nowrap;
        align-items: flex-start;
        background: $bg1;
        padding: 60px 45px;
        margin: 0;
        height: auto;
        display: none;
        width: 100%;
        position: relative;
        top: 0;
        right: 0;
      }

      li {
        width: $marginBase * 3.5;
        padding: 0;

        @media only screen and (max-width: 767px) {
          display: block;
          height: auto;
          text-align: left;
        }

        a {
          height: 60px;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          font: 18px $fontBase;
          font-weight: $fontWeightRegular;
          color: $textColorPrimary;
          letter-spacing: 0.1em;
          transition: all 0.2s ease-in-out;
          text-decoration: none;

          &:hover,
          &:focus,
          &:active {
            background: rgba(0, 0, 0, 0.3);
          }

          @media only screen and (max-width: 767px) {
            min-height: 50px;
            width: auto;
            padding: 12px 0;
            border: none;
            justify-content: flex-start;
          }
        }
      }

      .current {
        background: $accentColor1;
        transition: all 0.5s ease;

        @media only screen and (max-width: 767px) {
          background: transparent;

          & > a {
            color: $accentColor1 !important;
            font-weight: $fontWeightBold;
          }
        }

        & a:hover,
        & a:focus,
        & a:active {
          background: $accentColor1;
        }
      }
    }

    #toggle-btn {
      position: absolute;
      top: 0;
      right: 0;
      height: 60px;
      width: 60px;
      background: $accentColor1;
      display: none;
      z-index: 900;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      color: inherit;
      transition: $transition;

      @media only screen and (max-width: 767px) {
        display: flex;
      }

      span {
        font-size: $fontSizeBase * 1.5;
        color: $textColorPrimary;
      }
    }
  }
}
